<% title(@project.name, 'Projects') %>
<div>
  <header>
    <h1><%= @project.name %></h1>
    <ul class="actions">
      <li><%= link_to 'Edit Project', edit_project_path(@project), class: 'edit' %></li>
      <li><%= link_to 'Delete Project', project_path(@project), method: :delete, data: { confirm: 'Are you sure you want to delete this project?' }, class: 'delete' %></li>
    </ul>
  </header>
</div>
<div>
  <p><%= @project.description %></p>
</div>
<br>
<div>
  <%= link_to 'Back', :back, class: 'btn btn-outline-dark' %>
</div>